.footer {
    display: flex;

    .Copyright {
        color: nth($colores , 2 );
        font-size: nth($fuentes, 3);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    .imagen-logo-abajo {
        @include tamano(150px, 100px);
        display: flex;
        position: absolute;
        right: 0%;
        overflow: hidden;
    }
}