header {
    .titulo {
        color: nth($colores , 2 );
        font-size: nth($fuentes, 5);
        text-align: center;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    .subtitulo {
        color: nth($colores , 2 );
        text-align: center;
        font-size: nth($fuentes, 4);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    .somos {
        color: nth($colores , 2 );
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        margin-left: 50px;
        margin-right: 50px;
    }

}