
.quienes-somos{
    color: white;
    text-align: justify;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.aside-nosotros{
    display: flex;
    justify-content: space-around;
}

.mapa{
    width: 900px;
}
