.cuerpo {
    background-color: $color-principal;
}

.imagen {
    @include flex(flex, center);
    flex-wrap: wrap;

    .imagen-logo {
        @include tamano(150px, 100px);
        z-index: 1;
        -webkit-animation-name: movimiento;
        animation-name: movimiento;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

    }
}

.video-secundario {
    @include flex(flex, space-around);

    .video-inicio {
        display: flex;
        align-self: center;
        @include tamano(600px, 450px);
    }

    .mapa1 {
        @include tamano(600px, 450px);
    }
}

.informacion {
    @include flex(flex, space-around);
    color: $color-letra;
    font-weight: bold;
    font-size: nth($fuentes , 1);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    flex-wrap: wrap;


    .lista-informacion {
        grid-area: sector1;

    }

    .lista-productos-1 {
        grid-area: sector2;

        .a2 {
            color: $color-letra;
            text-decoration: none;
        }
    }

    .lista-productos-2 {
        grid-area: sector3;

        .a2 {
            color: $color-letra;
            text-decoration: none;
        }
    }
}

.lista-accesos {
    grid-area: sector4;

    .parte4 {
        color: $color-letra;
        text-decoration: none;
    }
}

.como-contactarnos {

    display: flex;
    @extend %alineacion;
    color: $color-letra;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: nth($fuentes , 5);
}

.form1 {
    display: flex;
    @extend %alineacion;


    .form2 {
        @include tamano(700px, 30px);
        border-radius: 10px;
        margin: 5px;
    }

    .text {
        width: 700px;
        border-radius: 10px;
        margin: 5px;
    }

    .boton-form {
        @include tamano(700px, 30px);
        border-radius: 10px;
        margin: 5px;
        background-color: nth($colores , 2);
    }
}



.aside-nosotros {
    @include flex(flex, space-around);

    .mapa {
        width: 900px;
    }
}

.boton1 {
    @include flex(flex, space-around);
    background-color: nth($colores , 2);
    font-weight: bold;
    margin: 5px;
    width: 150px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    border: 4px solid $color-letra;
    font-size: nth($fuentes , 1);
    color: $color-principal;
    font-weight: bolder;
}

.link-precios {
    font-size: nth($fuentes, 2);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bolder;
    color: $color-principal;
    width: 400px;
    height: 59px;
    border-radius: 20px;
}

.navegador-contenedor {
    color: $color-letra;
    font-weight: bold;
    @include flex(flex, space-around);
    align-items: center;
    z-index: 1;
}


.hamburguesa {
    color: $color-letra;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    display: none;
    font-size: 30px;

}

.link-lista-de-precios {
    font-size: nth($fuentes , 2);
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: $color-letra;
}

.somos-nosotros {
    color: $color-letra;
    margin: 20px;
}

.somos {
    color: $color-letra;
    margin: 20px;
    font-size: 20px;
}

.caroimagen {
    @include tamano(600px, 600px);
    margin-left: 450px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 100px;
}